*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100vw;
    width: 100svw;
    height: 100vh;
    height: 100svh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}
.calculator form input{
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 25px;
    font-weight: 500;
    margin: 5px;
    color: white;
    background-color: #7b7b7c6c;
    cursor: pointer;
    transition: 0.4s ease;
}
.calculator form input:hover{
    background-color: #a6a6a6d8;
}
.calculator form input.zero{
    width: 125px;
    text-align: start;
    padding-left: 20px;
    font-size: 24px;
}
.calculator form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.calculator form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    background: transparent;
    border-radius: 0px;
    letter-spacing: 0.6px;
    font-weight: 400;
}
.calculator form input.equal{
    font-weight: 400;
    background-color: #f89000;
}
.calculator form input.equal:hover{
    background-color: #f5f5f5;
    color: #f89000;
}
.calculator form input.vag{
    font-weight: 400;
    background-color: #f89000;
}
.calculator form input.vag:hover{
    background-color: #f5f5f5;
    color: #f89000;
}
.calculator form input.vag:active{
    background-color: #f5f5f5;
    color: #f89000;
}
.calculator form input.gon{
    font-weight: 400;
    background-color: #f89000;
}
.calculator form input.gon:hover{
    background-color: #f5f5f5;
    color: #f89000;
}
.calculator form input.biog{
    font-weight: 500;
    background-color: #f89000;
}
.calculator form input.biog:hover{
    background-color: #f5f5f5;
    color: #f89000;
}
.calculator form input.jog{
    font-weight: 400;
    background-color: #f89000;
}
.calculator form input.jog:hover{
    background-color: #f5f5f5;
    color: #f89000;
}
.calculator form input.AC{
    font-weight: 400;
    font-size: 24px;
    background-color: #b5b5b5;
    color: black;
}
.calculator form input.AC:hover{
    background-color: #f5f5f5;
}
.calculator form input.DE{
    font-weight: 400;
    font-size: 24px;
    background-color: #b5b3b3;
    color: black;
}
.calculator form input.DE:hover{
    background-color: #f5f5f5;
}
.calculator form input.per{
    font-weight: 400;
    font-size: 24px;
    background-color: #b5b3b3;
    color: black;
}
.calculator form input.per:hover{
    background-color: #f5f5f5;
}
/* End */